body{
  background-color:lightgrey;
}


h1{
  text-align: center;
}
main{
  text-align:center;
  padding: 5;
  
}
div{ 
   background-color:lightgrey;
}
.img-div{
  width:100%;
  background-color: white;
text-align: center;
display:table-cell;
vertical-align:middle;;
}
img{
  margin-right:10;
  height:auto;
  max-width:100%;
  display: block;
}
h3{
  text-align: center;
}
p{
  font-style: italic;
}